.layout{
  grid-template: 200px 300px 1fr/ 200px 300px 1fr;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-auto-flow: column dense;

}
body{
  margin: 0;
  
}

h1{
  padding-left: 35px;
  font-size: 2.4rem;
}

#header{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
}

#projectContainer{
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  grid-row-start: 2;
  display: grid;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

#todoContainer{
  display: grid;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#list{
  list-style: none;
}